<div class="banner text-center" style="background-image: url('https://unsplash.it/1000/500?image=0')">
  <div class="banner-gradient"></div>
  <div class="banner-content">
    <h1>Some Stuff</h1>
    <p>Very cool stuff, useful and smart</p>
    <a class="btn btn-primary btn-lg">GET IT</a>
  </div>
</div>

<%= image_tag "logo.png", {class: "img-circle", id: "logo"}%>

<div class="text-center">
  <h1>My list of cocktails</h1>
  <%= link_to "Add cocktail", new_cocktail_path, class: "btn btn-primary" %>
</div>


<div class="container">
  <div class="row">
    <% @cocktails.each do |cocktail| %>
      <div class="col-xs-12 col-sm-4">
        <%= link_to cocktail.name, cocktail_path(cocktail) %>
      </div>
    <% end %>
  </div>
</div>
